<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <formsDataProvider type="Sitecore.Forms.Data.DataProviders.WFMDataProvider,Sitecore.Forms.Core">
      <param desc="connection string">
        <patch:delete />
      </param>
    </formsDataProvider>
    <pipelines>
      <initialize>
        <!-- wffm 2.4+ overwrites the current metadataprovider, not playing nicely with our BoC metadataprovider, clear that by using our own 
            our own version is set by the containerinitailizer SetDefaultModelMetaDataProvider
        -->
        <processor 
            set:type="Sitecore.Foundation.Forms.ModelMetaData.AddCustomMetadataProvider, Sitecore.Foundation.Forms"
				   type="Sitecore.Forms.Mvc.Pipelines.Initialize.AddCustomMetadataProvider, Sitecore.Forms.Mvc" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>