<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <formsDataProvider type="Sitecore.Forms.Data.DataProviders.WFMDataProvider,Sitecore.Forms.Core">
      <param desc="connection string">
        <patch:delete />
      </param>
    </formsDataProvider>
    <wffm>
      <data>
        <perRequestStorage type="Sitecore.Form.Core.Utility.HttpContextPerRequestStorage, Sitecore.Forms.Core"/>
      </data>
      <corePipelineWrapper type="Sitecore.Abstractions.CorePipelineWrapper, Sitecore.Abstractions" />
    </wffm>
    <pipelines>
      <initialize>
        <!-- wffm 2.4+ overwrites the current metadataprovider, not playing nicely with our BoC metadataprovider, clear that by using our own 
            our own version is set by the containerinitailizer SetDefaultModelMetaDataProvider
        -->
        <processor patch:instead="*[@type='Sitecore.Forms.Mvc.Pipelines.Initialize.AddCustomMetadataProvider, Sitecore.Forms.Mvc']"
                   type="Sitecore.Foundation.Forms.ModelMetaData.AddCustomMetadataProvider, Sitecore.Foundation.Forms">
          <param name="perRequestStorage" ref="/sitecore/wffm/data/perRequestStorage" />
          <param name="corePipeline" ref="/sitecore/wffm/corePipelineWrapper" />
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>