<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<mvc.exception>
        <processor type="Sitecore.Foundation.Alerts.Pipelines.MvcException.GeneralExceptionProcessor, Sitecore.Foundation.Alerts"
						   patch:before="processor[1]" />
        <processor type="Sitecore.Foundation.Alerts.Pipelines.MvcException.InvalidDatasourceItemExceptionProcessor, Sitecore.Foundation.Alerts"
						   patch:before="processor[1]" />
				<processor type="Sitecore.Foundation.Alerts.Pipelines.MvcException.HttpExceptionProcessor, Sitecore.Foundation.Alerts"
						   patch:before="processor[1]" />
			</mvc.exception>
			<httpRequestBegin>
				<processor type="Sitecore.Foundation.Alerts.Pipelines.RequestBegin.ItemErrorResolver, Sitecore.Foundation.Alerts" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
			</httpRequestBegin>
			<httpRequestProcessed>
				<processor type="Sitecore.Foundation.Alerts.Pipelines.RequestProcessed.SetStatusCode, Sitecore.Foundation.Alerts" />
			</httpRequestProcessed>
		</pipelines>
	</sitecore>
</configuration>