<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <lookupManager>
      <patch:attribute name="defaultProvider">custom</patch:attribute>
      <providers>
        <add name="custom" type="Sitecore.Foundation.FreeGeoIp.FreeGeoIpLookupProvider, Sitecore.Foundation.FreeGeoIp"/>
      </providers>
    </lookupManager>
  </sitecore>
</configuration>
