@using Sitecore.Feature.Language.Repositories
@using Sitecore.Foundation.Multisite
@using Sitecore.Links
@model Sitecore.Mvc.Presentation.RenderingModel
@{
	var activeLanguage = LanguageRepository.GetActive();
	var languages = LanguageRepository.GetSupportedLanguages();
	var siteDefinition = new SiteContext().GetSiteDefinition(Sitecore.Context.Item);
	if (languages.Count() <= 1)
	{
		return;
	}
}
<li class="dropdown">
	<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-globe"></i>
	</a>
	<ul class="dropdown-menu">
		@foreach (var language in languages)
		{
			var cssClass = language.Name == activeLanguage?.Name ? "active" : "";
			var item = Sitecore.Context.Item.Versions.GetLatestVersion(language) ?? siteDefinition.Item.Versions.GetLatestVersion(language);
			<li class="@cssClass">
				<a href="@LinkManager.GetItemUrl(item)">@language.GetDisplayName()</a>
			</li>
		}
	</ul>
</li>