<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
    <sc.variable name="sourceFolder" value="~/../../src" />
    <sc.variable name="sitecoreItemsFolder" set:value="~/../../src" />
    <settings>
      <setting name="Rainbow.SFS.SerializationFolderPathMaxLength" set:value="155" />
      <setting name="Rainbow.SFS.MaxItemNameLengthBeforeTruncation" set:value="45" />

      <!-- Disable Device Detection - It is a payed service we don't have! -->
      <setting name="DeviceDetection.Enabled" set:value="false" />
    </settings>
	</sitecore>
</configuration>
