<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="item:unpublishnow" type="Valtech.Foundation.Publishing.Commands.UnPublish,Valtech.Foundation.Publishing"/>
      <command name="item:showpublicationstatus" type="Valtech.Foundation.Publishing.Commands.PublicationStatus,Valtech.Foundation.Publishing"/>
      <command name="item:runscheduledtask" type="Valtech.Foundation.Publishing.Commands.RunScheduledTaskCommand,Valtech.Foundation.Publishing"/>
    </commands>
  </sitecore>
</configuration>