<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Publishing" description="Foundation Publishing" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sitecoreItemsFolder)\foundation\publishing\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.Publishing.Templates" database="master" path="/sitecore/templates/System/Tasks" />
            <include name="Foundation.Publishing.ContextualRibbons" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Contextual Ribbons/Schedule" />
            <include name="Foundation.Publishing.UnPublishButton" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Publish/UnPublish" />
            <include name="Foundation.Publishing.PublicationStatusGutter" database="core" path="/sitecore/content/Applications/Content Editor/Gutters/Publication Status" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sitecoreItemsFolder)\foundation\publishing\Foundation.Publishing.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Foundation Publishing .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>