<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sc.variable name="dtap-EnableDebug" set:value="false" />
    <sc.variable name="mediaFolder" set:value="/upload" />
    <sc.variable name="tempFolder" set:value="/temp" />
    <sc.variable name="dtap-livemode-database" set:value="web"/>
    <sc.variable name="dtap-codefirst" set:value="false"/>
    <sc.variable name="dtap-enablecounters" set:value="false"/>
	  <sc.variable name="dtap-EnableWebEdit" set:value="true" />
	  <sc.variable name="dtap-EnablePreview" set:value="true" />
    
    <settings>
      <setting name="RequestErrors.UseServerSideRedirect" set:value="true" />
      <setting name="RequireLockBeforeEditing" set:value="false"/>
      <setting name="Media.RequestExtension" set:value="" />
      <setting name="BoC.Profiler.Enabled" set:value="false" />
    </settings>
  </sitecore>
</configuration>
