<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Foundation.SitecoreExtensions" description="Foundation SitecoreExtensions" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
					<targetDataStore physicalRootPath="$(sitecoreItemsFolder)\foundation\sitecoreextensions\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Foundation.SitecoreExtensions.Templates" database="master" path="/sitecore/templates/Foundation/SitecoreExtensions" />
						<include name="Foundation.SitecoreExtensions.RTEComplete" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Complete" />
						<include name="Foundation.SitecoreExtensions.RTELimited" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Limited" />
						<include name="Foundation.SitecoreExtensions.EnumerableDropDownlist" database="core" path="/sitecore/system/Field types/List Types/Enumerable Droplist" />
						<include name="Foundation.SitecoreExtensions.CachingByUrl" database="master" path="/sitecore/templates/System/Layout/Sections/Caching/Caching/VaryByUrl" />
						<include name="Foundation.SitecoreExtensions.CachingByRenderingId" database="master" path="/sitecore/templates/System/Layout/Sections/Caching/VaryByRenderingId" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>