<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Feature.Cart" description="Feature Cart" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
					<targetDataStore physicalRootPath="$(sitecoreItemsFolder)\feature\cart\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Feature.Cart.Templates" database="master" path="/sitecore/templates/Feature/Cart" />
            <include name="Feature.Cart.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Cart" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>