<?xml version="1.0" encoding="utf-8"?>
<connectionStrings condition-machineName="ACCEPTANCEMACHINENAME">
  <connectionString name="core" value="" />
  <connectionString name="master" value="" />
  <connectionString name="web" value="" />
  <connectionString name="analytics" value="" />
  <connectionString name="tracking.live" value="" />
  <connectionString name="tracking.history" value="" />
  <connectionString name="tracking.contact" value="" />
  <connectionString name="reporting" value="" />
</connectionStrings>
