<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="sitecore"
             type="Efocus.Sitecore.ConditionalConfig.ConfigReader, Efocus.Sitecore.ConditionalConfig"
              xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <section xdt:Transform="Insert" name="packageInstallation" type="Sitecore.Ship.Infrastructure.Configuration.PackageInstallationConfiguration, Sitecore.Ship.Infrastructure" />
  </configSections>
  <connectionStrings xdt:Transform="RemoveAttributes" />
  <system.webServer>
    <rewrite xdt:Transform="InsertIfMissing">
      <rules>
        <clear />
        <rule name="lbstatus" stopProcessing="true">
          <match url="(lbstatus)"/>
          <action type="CustomResponse" statusCode="200" statusReason="lbcheck" statusDescription="lbcheck"/>
        </rule>

        <rule name="Force HTTPS" enabled="false" stopProcessing="false">
          <match url="(.*)" ignoreCase="false"/>
          <conditions>
            <add input="{HTTPS}" pattern="off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" xdt:Transform="InsertIfMissing" />
    <httpCompression xdt:Transform="InsertIfMissing">
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/x-javascript" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="/" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8" />
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/atom+xml" />
        <add enabled="true" mimeType="application/xaml+xml" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="/" />
      </staticTypes>
    </httpCompression>
    <httpProtocol xdt:Transform="InsertIfMissing">
      <customHeaders xdt:Transform="InsertIfMissing">
        <clear xdt:Transform="InsertIfMissing" />
        <add name="X-UA-Compatible" value="IE=edge,chrome=1" xdt:Transform="Insert" />
        <add name="X-Content-Type-Options" value="nosniff" xdt:Transform="Insert" />
        <add name="X-Frame-Options" value="SAMEORIGIN" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
    <httpErrors xdt:Transform="InsertIfMissing" existingResponse="PassThrough" />
    <handlers>
      <remove name="Sitecore.Ship" xdt:Transform="Insert" />
      <add xdt:Transform="Insert" name="Sitecore.Ship" verb="*" type="Sitecore.Ship.AspNet.SitecoreShipHttpHandler, Sitecore.Ship.AspNet" path="/53160e878d3942188dbbf2db1d3e8828/services/*" />
    </handlers>
    <staticContent xdt:Transform="Insert">
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="true" />
    <httpRuntime maxRequestLength="512000" executionTimeout="3600" enableKernelOutputCache="false" relaxedUrlToFileSystemMapping="true" requestValidationMode="2.0" xdt:Transform="SetAttributes" />
    <authentication>
      <forms name=".ASPXAUTH" cookieless="UseCookies" path="/" slidingExpiration="false" timeout="99999999" xdt:Transform="SetAttributes" />
    </authentication>
    <httpRuntime maxRequestLength="512000" executionTimeout="600" enableKernelOutputCache="false" relaxedUrlToFileSystemMapping="true" />
  </system.web>
</configuration>