<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>      
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <indexFieldStorageValueFormatter>
            <converters hint="raw:AddConverter">
				<converter handlesType="BoC.Persistence.SitecoreGlass.Models.SitecoreItem"
						   typeConverter="Sitecore.Foundation.GlassMapper.Converters.SitecoreItemConverter, Sitecore.Foundation.GlassMapper" />
			</converters>
          </indexFieldStorageValueFormatter>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
