<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
	  <settings>
		  <setting name="ItemResolving.FindBestMatch" set:value="Disabled"/>
		  <setting name="IgnoreUrlPrefixes" set:value="/53160e878d3942188dbbf2db1d3e8828/services/|/scripts/|/fonts/|/images/|/styles/|/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing" />
	  </settings>
	  <linkManager>
		  <providers>
			  <add name="sitecore" set:useDisplayName="true" set:lowercaseUrls="true" set:languageEmbedding="always" />
		  </providers>
	  </linkManager>
	  <encodeNameReplacements>
		  <replace mode="on" find="&amp;" set:replaceWith="-and-"/>
		  <replace mode="on" find="+" replaceWith="-plus-"/>
	  </encodeNameReplacements>
  </sitecore>
</configuration>
